<div class="card-body">
 <img src={{item.imageUrl}} class="card-img-top" >
    <h5 class="card-title">{{ item.name }}</h5>
    <p>{{ item.category }}</p>
    <span class="float-left">Price: {{ item.price | currency }}</span>
    <span class="float-right">Available: {{ item.quantity }}</span> <br>
    <div class="row">
        <input [(ngModel)]="qtyToPurchase" type="number" class="form-control" placeholder="Qty" [max]="item.quantity">
        <button type="button" class="btn btn-success" [class.disabled]="qtyToPurchase > item.quantity" (click)="onAddToCart(item)">{{ buttonText }}</button>
    </div>
</div>
