<table class="table" *ngIf="itemsInCart.length > 0">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Total Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of itemsInCart; let i = index">
            <td>{{ item.name }}</td>
            <td><button class="btn btn-info" [class.disabled]="item.quantity == 0"
                    (click)="onDecreaseQty(item)">-</button>&nbsp;{{ item.quantity }}&nbsp;<button class="btn btn-info"
                    [class.disabled]="item.quantity == item.available" (click)="onIncreaseQty(item)">+</button></td>
            <td>{{ item.price | currency }}</td>
            <td>{{ item.quantity * item.price | currency }}</td>
            <td><button class="btn btn-danger float-right" (click)="onRemoveItemFromCart(i)">X</button></td>
        </tr>
    </tbody>
</table>
<strong *ngIf="itemsInCart.length > 0">Total: {{ total | currency }}</strong>
<br>
<br>
<button *ngIf="itemsInCart.length > 0" class="btn btn-success" (click)="onPurchase()">Purchase</button>
<div *ngIf = "purchased" >
    
        <div>Your Receipt</div>
        <div>You purchased the following items:</div>
        <hr>
       <!-- <div *ngFor="let item of itemsPurchased; let i = index"> -->
            <li>Item Name: {{ itemsPurchased.name }}</li>
            <li>Unit Price: {{ itemsPurchased.price | currency }} </li>
            <li>Sales Tax: {{ itemsPurchased.salesTax | currency }}</li>
            <li>Import Fee: {{itemsPurchased.importFee | currency}}</li>
            <li>Total: {{itemsPurchased.total | currency}} </li>

</div>
    <h5 *ngIf="itemsInCart.length == 0 && !purchased">{{ infoText }}</h5>